extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	// ------------------------------------
	// ----------WELCOME-SLIDER-------------
	// -------------------------------------
	section.home_welcome_slider
		.owl-carousel.owl-theme#welcome_slider
			.welcome_slider_item
				.main_title
					h1.mb-3 Chúng tôi là FullStack Vietnam
					p.text.text--normal.text--white.text--semibold 
						|Full Stack Developer là nghề cực hot hiện nay, những lập trình viên 
						br.responsive_break
						|Full Stack có đầy đủ các kĩ năng tổng hợp
				.welcome_slider_img_1
			.welcome_slider_item
				.main_title
					h1.mb-3 Chúng tôi là FullStack Vietnam
					p.text.text--normal.text--white.text--semibold 
						|Full Stack Developer là nghề cực hot hiện nay, những lập trình viên 
						br.responsive_break
						|Full Stack có đầy đủ các kĩ năng tổng hợp
				.welcome_slider_img_2
	
	// -------------------------------------
	// --------------HOME-NEWS--------------
	// -------------------------------------
	section.home_news
		.container
			.row
				.col
					h2.section-title.section-title--black.section-title--bold.section-title--uppercase.section-title__cyanline tin tức
			.row.mt-5.justify-content-center
				.col-md-4.news_item.mt-4
					a(href="javascript:void(0)")
						figure
							.news_item__image
								img(src="./img/home_news_1.png", alt="").img-fluid
							figcaption
								h3.block-title.block-title--small.block-title--black.block-title--semibold.mt-3.mb-1 Lorem ipsum dolor
								time.text.text--small.text--gray 18/08/2018
								p.text.text--small.text--gray Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsam necessitatibus, fugiat nemo fugit ab quia repellendus nisi mollitia veniam reiciendis sequi ipsa praesentium eos provident. Saepe maiores explicabo dolor.
				.col-md-4.news_item.mt-5.mt-md-4
					a(href="javascript:void(0)")
						figure
							.news_item__image
								img(src="./img/home_news_2.png", alt="").img-fluid
							figcaption
								h3.block-title.block-title--small.block-title--black.block-title--semibold.mt-3.mb-1 Lorem ipsum dolor
								time.text.text--small.text--gray 18/08/2018
								p.text.text--small.text--gray Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsam necessitatibus, fugiat nemo fugit ab quia repellendus nisi mollitia veniam reiciendis sequi ipsa praesentium eos provident. Saepe maiores explicabo dolor.
				.col-md-4.news_item.mt-5.mt-md-4
					a(href="javascript:void(0)")
						figure
							.news_item__image
								img(src="./img/home_news_3.png", alt="").img-fluid
							figcaption
								h3.block-title.block-title--small.block-title--black.block-title--semibold.mt-3.mb-1 Lorem ipsum dolor
								time.text.text--small.text--gray 18/08/2018
								p.text.text--small.text--gray Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsam necessitatibus, fugiat nemo fugit ab quia repellendus nisi mollitia veniam reiciendis sequi ipsa praesentium eos provident. Saepe maiores explicabo dolor.

	// -------------------------------------
	// ----HOME-DEVELOPMENT-STRATEGY--------
	// -------------------------------------
	section.home_development_strategy
		.container
			.row
				.col
					h2.section-title.section-title--black.section-title--bold.section-title--uppercase.section-title__cyanline định hướng phát triển
			.row.mt-5.justify-content-center
				.col-md-6.col-lg-3.mt-5.development_strategy_item
					a(href="javascript:void(0)")
						i.fa.fa-files-o
						h3.block-title.block-title--small.block-title--uppercase.block-title--black.block-title--bold tầm nhìn
						p.text.text--small.text--darkgray.text--semibold 
							|Cam kết chất lượng sản phẩm cao nhất
							br
							|Luôn đặt chữ tín lên hàng đầu
							br
							|Lấy lợi ích của khách hàng làm trung tâm hoạt động
				.col-md-6.col-lg-3.mt-5.development_strategy_item
					a(href="javascript:void(0)")
						i.fa.fa-moon-o
						h3.block-title.block-title--small.block-title--uppercase.block-title--black.block-title--bold tầm nhìn
						p.text.text--small.text--darkgray.text--semibold 
							|Cam kết chất lượng sản phẩm cao nhất
							br
							|Luôn đặt chữ tín lên hàng đầu
							br
							|Lấy lợi ích của khách hàng làm trung tâm hoạt động
				.col-md-6.col-lg-3.mt-5.development_strategy_item
					a(href="javascript:void(0)")
						i.fa.fa-object-group
						h3.block-title.block-title--small.block-title--uppercase.block-title--black.block-title--bold tầm nhìn
						p.text.text--small.text--darkgray.text--semibold 
							|Cam kết chất lượng sản phẩm cao nhất
							br
							|Luôn đặt chữ tín lên hàng đầu
							br
							|Lấy lợi ích của khách hàng làm trung tâm hoạt động
				.col-md-6.col-lg-3.mt-5.development_strategy_item
					a(href="javascript:void(0)")
						i.fa.fa-floppy-o
						h3.block-title.block-title--small.block-title--uppercase.block-title--black.block-title--bold tầm nhìn
						p.text.text--small.text--darkgray.text--semibold 
							|Cam kết chất lượng sản phẩm cao nhất
							br
							|Luôn đặt chữ tín lên hàng đầu
							br
							|Lấy lợi ích của khách hàng làm trung tâm hoạt động

	// -------------------------------------
	// -------------HOME-NOTE---------------
	// -------------------------------------
	section.home_note
		.container
			.row
				.col
					h2.section-title.section-title--white.section-title--small.section-title--normal Lorem, ipsum dolor sit amet consectetur adipisicing elit. Impedit quia blanditiis libero ipsa nisi recusandae, repellendus, fugit cumque debitis, deleniti ipsum!
			.row
				.col
					a(href="javascript:void(0)").btn.btn--rounded.btn--cyan.btn--uppercase.btn--bold.mt-5 xem thêm

	// -------------------------------------
	// -----------HOME-CATEGORY-------------
	// -------------------------------------
	section.home_category
		.container
			.row
				.col
					h2.section-title.section-title--black.section-title--bold.section-title--uppercase.section-title__cyanline định hướng phát triển
			.row
				.col
					.category__tabbed.mt-5
						ul.list--nomargin.list-unstyled.list-inline
							li.list-inline-item.tabbed__item
								a.link.link--bold.link--black.link--small.link--uppercase(href="javascript:void(0)") tất cả
							li.list-inline-item.tabbed__item
								a.link.link--bold.link--black.link--small.link--uppercase(href="javascript:void(0)") group
							li.list-inline-item.tabbed__item
								a.link.link--bold.link--black.link--small.link--uppercase(href="javascript:void(0)") tin thị trường
							li.list-inline-item.tabbed__item
								a.link.link--bold.link--black.link--small.link--uppercase(href="javascript:void(0)") tin vịt
			.row
				.col-12.col-md-4.category__items.mt-5.mt-md-4
					a(href="javascript:void(0)")
						figure
							.category__items__img
								img.img-fluid(src="./img/home_category_1.png", alt="")
				.col-12.col-md-4.category__items.mt-5.mt-md-4
					a(href="javascript:void(0)")
						figure
							.category__items__img
								img.img-fluid(src="./img/home_category_1.png", alt="")
				.col-12.col-md-4.category__items.mt-5.mt-md-4
					a(href="javascript:void(0)")
						figure
							.category__items__img
								img.img-fluid(src="./img/home_category_1.png", alt="")

	// -------------------------------------
	// -----------HOME-FEEDBACK-------------
	// -------------------------------------
	section.home_feedback
		.container
				.row
					.col
						h2.section-title.section-title--black.section-title--bold.section-title--uppercase.section-title__cyanline khách hàng nói
				.row
					.col
						.owl-carousel.owl-theme.mt-5#feedback_slider
							.feedback_slider_item
								figure
									img(src="./img/home_feedback_1_avatar.png", alt="")
								p.text.text--small.text--semibold.text--darkgray.text--italic.mt-3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi ex, eaque laudantium neque iusto culpa facilis. Laudantium nisi deserunt voluptatum doloribus quas tempora aliquam soluta amet ullam magni! Eum, odit!
								p.text.text--normal.text--semibold.text--capitalize.text--cyan.mt-4 pelican steve
								p.text.text--small.text--semibold CEO ABC Company
							.feedback_slider_item
								figure
									img(src="./img/home_feedback_1_avatar.png", alt="")
								p.text.text--small.text--semibold.text--darkgray.text--italic.mt-3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi ex, eaque laudantium neque iusto culpa facilis. Laudantium nisi deserunt voluptatum doloribus quas tempora aliquam soluta amet ullam magni! Eum, odit!
								p.text.text--normal.text--semibold.text--capitalize.text--cyan.mt-4 pelican steve
								p.text.text--small.text--semibold CEO ABC Company
							.feedback_slider_item
								figure
									img(src="./img/home_feedback_1_avatar.png", alt="")
								p.text.text--small.text--semibold.text--darkgray.text--italic.mt-3 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi ex, eaque laudantium neque iusto culpa facilis. Laudantium nisi deserunt voluptatum doloribus quas tempora aliquam soluta amet ullam magni! Eum, odit!
								p.text.text--normal.text--semibold.text--capitalize.text--cyan.mt-4 pelican steve
								p.text.text--small.text--semibold CEO ABC Company