extends _layout/layout

block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

block body
	// ------------------------------------
	// ----------WELCOME-SLIDER-------------
	// -------------------------------------
	section.home_welcome_slider
		.owl-carousel.owl-theme#welcome_slider
			.welcome_slider_item
				.main_title
					h1.mb-3 Chúng tôi là FullStack Vietnam
					p.text.text--normal.text--white.text--semibold 
						|Full Stack Developer là nghề cực hot hiện nay, những lập trình viên 
						br.responsive_break
						|Full Stack có đầy đủ các kĩ năng tổng hợp
				.welcome_slider_img_1
			.welcome_slider_item
				.main_title
					h1.mb-3 Chúng tôi là FullStack Vietnam
					p.text.text--normal.text--white.text--semibold 
						|Full Stack Developer là nghề cực hot hiện nay, những lập trình viên 
						br.responsive_break
						|Full Stack có đầy đủ các kĩ năng tổng hợp
				.welcome_slider_img_2
	
	// -------------------------------------
	// --------------HOME-NEWS--------------
	// -------------------------------------
	section.home_news
		.container
			.row
				.col
					h2.section-title.section-title--black.section-title--bold.section-title--uppercase.section-title__cyanline tin tức
			.row.mt-5.justify-content-center
				.col-md-4.news_item.mt-4
					a(href="javascript:void(0)")
						figure
							.news_item__image
								img(src="./img/home_news_1.png", alt="").img-fluid
							figcaption
								h3.block-title.block-title--small.block-title--black.block-title--semibold.mt-3.mb-1 Lorem ipsum dolor
								time.text.text--small.text--gray 18/08/2018
								p.text.text--small.text--gray Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsam necessitatibus, fugiat nemo fugit ab quia repellendus nisi mollitia veniam reiciendis sequi ipsa praesentium eos provident. Saepe maiores explicabo dolor.
				.col-md-4.news_item.mt-5.mt-md-4
					a(href="javascript:void(0)")
						figure
							.news_item__image
								img(src="./img/home_news_2.png", alt="").img-fluid
							figcaption
								h3.block-title.block-title--small.block-title--black.block-title--semibold.mt-3.mb-1 Lorem ipsum dolor
								time.text.text--small.text--gray 18/08/2018
								p.text.text--small.text--gray Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsam necessitatibus, fugiat nemo fugit ab quia repellendus nisi mollitia veniam reiciendis sequi ipsa praesentium eos provident. Saepe maiores explicabo dolor.
				.col-md-4.news_item.mt-5.mt-md-4
					a(href="javascript:void(0)")
						figure
							.news_item__image
								img(src="./img/home_news_3.png", alt="").img-fluid
							figcaption
								h3.block-title.block-title--small.block-title--black.block-title--semibold.mt-3.mb-1 Lorem ipsum dolor
								time.text.text--small.text--gray 18/08/2018
								p.text.text--small.text--gray Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat ipsam necessitatibus, fugiat nemo fugit ab quia repellendus nisi mollitia veniam reiciendis sequi ipsa praesentium eos provident. Saepe maiores explicabo dolor.

	// -------------------------------------
	// ----HOME-DEVELOPMENT-STRATEGY--------
	// -------------------------------------
	section.home_development_strategy
		.container
			.row
				.col
					h2.section-title.section-title--black.section-title--bold.section-title--uppercase.section-title__cyanline định hướng phát triển
			.row.mt-5.justify-content-center
				.col-md-6.col-lg-3.mt-5.development_strategy_item
					a(href="javascript:void(0)")
						i.fa.fa-files-o
						h3.block-title.block-title--small.block-title--uppercase.block-title--black.block-title--bold tầm nhìn
						p.text.text--small.text--darkgray.text--semibold 
							|Cam kết chất lượng sản phẩm cao nhất
							br
							|Luôn đặt chữ tín lên hàng đầu
							br
							|Lấy lợi ích của khách hàng làm trung tâm hoạt động
				.col-md-6.col-lg-3.mt-5.development_strategy_item
					a(href="javascript:void(0)")
						i.fa.fa-moon-o
						h3.block-title.block-title--small.block-title--uppercase.block-title--black.block-title--bold tầm nhìn
						p.text.text--small.text--darkgray.text--semibold 
							|Cam kết chất lượng sản phẩm cao nhất
							br
							|Luôn đặt chữ tín lên hàng đầu
							br
							|Lấy lợi ích của khách hàng làm trung tâm hoạt động
				.col-md-6.col-lg-3.mt-5.development_strategy_item
					a(href="javascript:void(0)")
						i.fa.fa-object-group
						h3.block-title.block-title--small.block-title--uppercase.block-title--black.block-title--bold tầm nhìn
						p.text.text--small.text--darkgray.text--semibold 
							|Cam kết chất lượng sản phẩm cao nhất
							br
							|Luôn đặt chữ tín lên hàng đầu
							br
							|Lấy lợi ích của khách hàng làm trung tâm hoạt động
				.col-md-6.col-lg-3.mt-5.development_strategy_item
					a(href="javascript:void(0)")
						i.fa.fa-floppy-o
						h3.block-title.block-title--small.block-title--uppercase.block-title--black.block-title--bold tầm nhìn
						p.text.text--small.text--darkgray.text--semibold 
							|Cam kết chất lượng sản phẩm cao nhất
							br
							|Luôn đặt chữ tín lên hàng đầu
							br
							|Lấy lợi ích của khách hàng làm trung tâm hoạt động