<!-- ////////////// FOOTER ////////////// -->
footer
	.container
		.row.contact-section
			.col-12.col-sm-12.col-md-12.col-lg-3.mb-4.mb-lg-0
				h3 fullstack vietnam
				ul.list-unstyled.contact-section-contact-info
					li
						p Mobile: (+84) 969689893
					li
						p Email: admin@fullstackvietnam.com
					li
						p Địa chỉ: 28 - đường số 2 - CITY LAND phường 7 - Gò Vấp - HCM
			.col-12.col-sm-12.col-md-12.col-lg-5.mb-3.mb-lg-0
				h3 link
				.row
					.col-12.col-sm-6
						ul.list-unstyled.contact-section-links
							li
								a(href="#") Khóa học FrontEnd Master
							li
								a(href="#") Khóa học FullStack Developer
							li
								a(href="#") Khóa học Design chuyên nghiệp
							li
								a(href="#") Lịch khai giảng
							li
								a(href="#") Đăng ký khóa học
					.col-12.col-sm-6
						ul.list-unstyled.contact-section-links
							li
								a(href="#") Khóa học FrontEnd Master
							li
								a(href="#") Khóa học FullStack Developer
							li
								a(href="#") Khóa học Design chuyên nghiệp
							li
								a(href="#") Lịch khai giảng
							li
								a(href="#") Đăng ký khóa học
			.col-12.col-sm-12.col-md-12.col-lg-4
				h3 email
				form
					.form-group.mb-4.mb-sm-0
						input(type="emal" placeholder="Email của bạn").form-control
					button(type="submit").btn.btn-email Gửi
	.copyright-section-wrapper
		.container
			.row.copyright-section
				.col
					p.mb-2.mb-sm-0 Copyright by Fullstack Vietnam
					.social-buttons
						a.btn.btn-social
							i.fa.fa-twitter
						a.btn.btn-social
								i.fa.fa-facebook
