<!-- ////////////// HEADER ////////////// -->
header
	.container
		nav.navbar.navbar-expand-lg.navbar-light
			a.navbar-brand(href="javascript:void(0)") 
				img(src="./img/logo.png", alt="Logo")
			button.navbar-toggler(type="button" data-toggle="collapse" data-target="#fullStackMenu" aria-controls="fullStackMenu" aria-expanded="false" aria-label="Toggle navigation")
				span.fa.fa-bars
			#fullStackMenu.collapse.navbar-collapse
				ul.navbar-nav.ml-auto.list--nomargin.mt-2.mt-lg-0
					li.nav-item
						a.link.link--small.link--semibold.link--black(href="javascript:void(0)") Home
					li.nav-item
						a.link.link--small.link--semibold.link--black(href="javascript:void(0)") Services
					li.nav-item
						a.link.link--small.link--semibold.link--black(href="javascript:void(0)") About
					li.nav-item
						a.link.link--small.link--semibold.link--black(href="javascript:void(0)") Contact
<!-- ////////////// HEADER ////////////// -->
